.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.input {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
  margin-bottom: 20px;
}

.input:focus {
  filter: drop-shadow(0 0 2em #06005caa);
  box-shadow: 0 0 10px #646cff;
  outline: none !important;
}

.login-btn-grad {
  background-image: linear-gradient(to right, #2724dc 0%, #514a9d 51%, #5524dc 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #646cff;
  border-radius: 10px;
}

.login-btn-grad:hover {
  background-position: right center;
  box-shadow: 0 0 20px #646cff;
  color: #fff;
  text-decoration: none;
}

.errorMessage {
  color: red;
}
