body.scroll-lock {
    overflow: hidden;
}

/* Offer section ////////////////// */


.offer_title {
    width: 800px;
    color: #403f3d;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
    margin: 0 auto;
    /* width: 100%; */
}

.menu_items {
    margin-top: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 11px;
}

.menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #c1b6ad;
    margin-right: 13px;
    cursor: pointer;
    background: #E1D4C9;

    &.selected {
        background-color: #665F55;
        color: #E1D4C9;
        cursor: not-allowed;

        .menu_item_img {
            background-color: #E1D4C9;
        }
    }


}

@media (hover: hover) {

    .menu_item {
        &:not(.selected):hover {
            background-color: #665F55;
            color: #E1D4C9;

        }
    }

    .menu_item:not(.selected):hover .menu_item_desc {
        color: #E1D4C9;
    }

    .modal_close:hover,
    .size_btn_item:hover,
    .additive_btn:hover {
        background: #665F55;
        color: #E1D4C9;
    }

}

.menu_item_img {
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #c1b6ad;
    background: #C1B6AD
}


.menu_item_desc {
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    padding: 10px;
}


.drinks_menu {
    margin-top: 39px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
    width: 100%;
    justify-content: center;
}

/* @media screen and (max-width: 1440px) {
    .drinks_menu {
        width: 1360px;
    }
} */

.card {
    cursor: pointer;
    width: 310px;
    height: 506px;
    border: 1px solid #c1b6ad;
    border-radius: 40px;
}

.card .card_img_container {
    width: 308px;
    height: 309px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.card .card_img_item {
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: transform 0.5s ease;

}

@media (hover: hover) {
    .card:hover .card_img_item {
        transform: scale(1);
        transition: transform 0.5s ease;
    }
}

.drink_descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 21px 20px 20px 19px;
    height: 197px;
}

.card h3 {
    color: #403f3d;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 12px;
}

.card p {
    color: #403f3d;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.card .price {
    color: #403f3d;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-top: auto;
}

.refresh_btn {
    display: none;
}



@media screen and (max-width: 851px) {
    .offer_title {
        width: 100%;
    }


}


@media screen and (max-width: 768px) {
    .menu_items {
        padding-left: 13px;
    }

    .card:hover .card_img_item {
        transform: none;
        transition: none
    }

    .card .card_img_item {
        transform: none;
        transition: none
    }

    .drink_descr {
        width: 100%;
    }

    .drinks_menu {
        padding: 0 14px;
        width: 100%;
        margin-top: 39px;
    }

    .offer {

        margin-bottom: -102px;
    }

    .offer_title {
        width: 100%;
        margin-top: -2px
    }

    .card:nth-child(n+5) {
        display: none;
    }

    .refresh_btn {
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid #665F55;
        margin-top: 202px;
        margin: 0 auto;
        margin-top: -60px
    }

    /* .menu_item:not(.selected):hover .menu_item_desc {
        color: #403F3D;
    }

    .menu_item {
        &:not(.selected):hover {
            background-color: #E1D4C9;
        }
    } */

}

@media screen and (max-width: 380px) {
    .offer {
        margin-bottom: -102px;
    }

    .offer_title {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        margin-top: 0;
    }

    .menu_items {
        margin-top: 37px;
        margin-left: -10px;
        gap: 8px;
        justify-content: space-between;
    }

    .menu_item {
        padding: 8px 16px 8px 8px;
        margin-right: 0;
    }

    .menu_item_img {
        padding: 6px;
    }

    .menu_item_desc {
        padding: 0;
        margin-left: 8px;
    }

    .drinks_menu {
        padding: 0 19px;
        margin-top: 38px;
    }

}

/* Modal */
.backdrop {
    position: absolute;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.modal {
    border-radius: 40px;
    background: #E1D4C9;
    position: absolute;
    width: 800px;
    height: 502px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.modal_img {
    border-radius: 40px;
    overflow: hidden;
    min-width: 313px;
    height: 312px;
    margin-top: -2px;
}

.modal_img img {
    width: 100%;
    border-radius: 40px;
    object-fit: none;
    /* width: 340px;
    height: 340px; */
}

.modal-content {
    display: flex;
    padding: 16px;
    gap: 20px;
    width: 100%;
}

.modal_descr {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal_title {
    color: #403F3D;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    /* margin-bottom: -9px; */
}

.modal_drink_descr {
    color: #403F3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.modal_drink_size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.size_btn {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.size_btn_item {
    cursor: pointer;
    display: flex;
    padding: 8px 20px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background: #E1D4C9;
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    &.active {
        background: #665F55;
        color: #E1D4C9;

        .size_icon {
            background-color: #E1D4C9;
        }
    }
}

.additive_btn {
    cursor: pointer;
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background: #E1D4C9;
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    &.active {
        background: #665F55;
        color: #E1D4C9;

        .size_icon {
            background-color: #E1D4C9;
        }
    }
}

.size_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #C1B6AD;
    color: #403F3D;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    width: 30px;
    padding: 3px 0px;
}


.total {
    color: #403F3D;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal_info {
    border-top: 1px solid #C1B6AD;
    display: flex;
    padding: 12px 0px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.modal_info img {
    width: 16px;
    height: 16px;
}

.modal_info_descr {
    color: #403F3D;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    margin-top: -3px;
}

.modal_close {
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #665F55;
    display: flex;
    padding: 10px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background: #E1D4C9;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
}

.modal_descr_titl {
    row-gap: 13px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1093px) {

    .modal {
        max-width: 700px;
        width: 100%;
        height: 620px;
    }


}

@media screen and (max-width: 936px) {

    .modal {
        max-width: 688px;
        /* width: 100%; */
        height: 626px;
    }


}

@media screen and (max-width: 712px) {

    .modal {
        max-width: 342px;
        ;
        /* width: 100%; */
        height: 624px;
    }

    .modal_img {
        display: none;
    }

}

/* @media screen and (max-width: 665px) {} */