/* General styles  /////////////////////////////////*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #403f3d;
  background: #e1d4c9;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}



/* Header section  ///////////////////////// */
.header {
  margin: 20px 0;
  width: 100%;
  margin-bottom: 14px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo_img {
  width: 100px;
  height: 60px;
}

.header_list {
  display: flex;
  align-items: center;
  gap: 40px;
}


.header_list_item {
  padding-bottom: 8px;
  /* padding-right: 41px; */
}

.header_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}

.header_menu {
  margin-bottom: 12px;
  margin-right: -14px;
}

.header_menu_img {
  width: 20px;
  height: 20px;
  margin-right: -3px;
  margin-top: 6px;
}

.header_menu_title {
  padding-right: 4px;
}

.header_menu:hover::after,
.header_list_item:hover::after {
  width: 100%;
  background-color: #403f3d;
  transition: width 0.5s linear;
  opacity: 1;
}

.header_menu::after,
.header_list_item::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgba(64, 63, 61, 0);
  margin: auto;
  display: block;
  transition: width 0.5s, background-color 0.5s, opacity 0.5s;
}

.header_link.active {
  border-bottom: 3px solid;
  background-color: rgba(64, 63, 61, 0);
  margin-top: 3px;

}

.header_menu.active::after,
.header_list_item.active::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgba(64, 63, 61, 0);
  margin: auto;
  display: block;
  transition: none;
}

.header_menu.active:hover::after,
.header_list_item.active:hover::after {
  width: 0;
  background-color: rgba(64, 63, 61, 0);
  opacity: 0;
}

.header_menu:hover::after,
.header_list_item:hover::after {
  width: 100%;
  background-color: #403f3d;
  transition: width 0.5s linear, background-color 0.5s, opacity 0.5s;
  opacity: 1;
}

.burger_menu_btn {
  display: none;
}



@media screen and (max-width: 768px) {
  .header_logo_img {
    width: 101px;
    height: 62px;
  }

  .header_nav,
  .header_menu {
    display: none;
  }

  .burger_menu_btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #665F55;
    width: 44px;
    height: 44px;
  }
}

.burger_menu_btn_line,
.burger_menu_btn_line {
  background-color: #403f3d;
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
}

.burger_line_first {
  position: absolute;
  top: calc(50% - 5px);
}

.burger_line_second {
  position: absolute;
  bottom: calc(50% - 5px);
  /* bottom: 5%; */
}



/* Introduction section  ///////////////////// ///////  */
.intro {
  border-radius: 40px;
  background: url(../img/intro-bg.jpg);
  background-size: cover;
  /* background-position: 1px -30px; */
  background-position: center;
  /* background-repeat: no-repeat; */
  padding: 100px;
  width: 1360px;
  /* margin-top: 12px; */
  /* overflow: hidden; */
}

.intro_descr {
  display: flex;
  width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.intro_title {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;

}

.italic_text_accent {
  color: #b0907a;
  font-style: italic;
}

.intro_subtitle {
  color: #e1d4c9;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.header_link_for_btn_menu {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.button-content {
  display: flex;
  align-items: center;
}

.enjoy_menu_btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #403f3d;
  margin-right: 10px;
  transition: transform 0.3s;
}

.enjoy_menu_img_container {
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.header_menu_imgs {
  width: 22px;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s, filter 0.5s;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.intro_menu_btn {
  display: flex;
  max-width: 200px;
  padding: 20px 78px;
  border-radius: 100px;
  border: none;
  background: #e1d4c9;
  cursor: pointer;
  position: relative;
}

.intro_menu_btn:hover .enjoy_menu_btn {
  transform: translateX(-10px);
}

.intro_menu_btn:hover .enjoy_menu_img_container {
  opacity: 1;
}

.intro_menu_btn:hover .header_menu_imgs {
  opacity: 1;
  filter: brightness(0.5);
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 13px;
    padding: 100px 60px;
    border-radius: 41px;
    background-position: center;
  }

  .intro_menu_btn {
    margin-top: 40px;
    padding: 20px 63px;
    position: relative;
    transform: none;
  }

  .enjoy_menu_img_container {
    display: inline-block;
    margin-left: 5px;
  }

  .header_menu_imgs {
    width: 22px;
    height: auto;
    opacity: 1;
    /* margin-left: 5px; */
    margin-left: 8px;
  }


  .intro_menu_btn:hover .enjoy_menu_btn {
    transform: none;
  }

}

@media screen and (max-width: 380px) {
  .wrapper {
    padding: 0 16px
  }

  .burger_menu_btn {
    margin-bottom: 7px;
  }

  .intro {
    padding: 59px 16px;
    margin-top: 13px;
  }

  .intro_title {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
  }

  .intro_subtitle {
    padding-top: 40px;
    text-align: left;
  }

}

/* Favorite Coffee section ////////////////////////// */

.favorite_coffee {
  margin-top: 100px;
}

.favorite_coffee_title {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  padding-left: 20px
}

.favorite_coffee_slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
  margin: 0 auto;
}

.favorite_coffee_slid_description {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.coffee_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.coffee_description {
  max-width: 480px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
  text-align: center;
}

.coffee_prise {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  margin-bottom: 38px;
}

.slider-track img {
  width: 480px;
  height: 480px;
}

.slider-track {
  padding-left: 16px;
  padding-top: 6px;
}

.slider-bars {
  display: flex;
  justify-content: center;
  padding-top: 3px;
  padding-left: 5px;
}

.bar {
  width: 40px;
  height: 4px;
  margin-right: 12px;
  background-color: #c1b6ad;
  border-radius: 100px;
}

.active-bar {
  background-color: #665f55;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid #665f55;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.left {
  left: 5px;
  margin-top: -5px
}

.right {
  right: -13px;
  margin-top: -5px;
}

.right:hover {
  background-color: #665f55;
}

.left:hover {
  background-color: #665f55;
}

.left:hover img,
.right:hover img {
  filter: invert(92%) sepia(14%) saturate(210%) hue-rotate(343deg) brightness(92%) contrast(92%);
}

@media screen and (max-width: 768px) {
  .right:hover {
    background-color: #e1d4c9;
  }

  .left:hover {
    background-color: #e1d4c9;
  }

  .left:hover img,
  .right:hover img {
    filter: none;
  }

  .left {
    /* margin-right: 5px; */
    margin-left: -5px;
  }

}

@media screen and (max-width: 380px) {
  .favorite_coffee {
    margin-top: 102px;
  }

  .favorite_coffee_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }

  .left {
    display: none;
  }

  .right {
    display: none;
  }

  .slider-track img {
    width: 100%;
  }

  .slider-bars {
    padding-top: 1px;
    padding-left: 14px;
  }
}

/* About section /////////////////////////////////// */

.about {
  margin-top: 102px;
}

.about_title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  width: 1368px;
  letter-spacing: -0.3px;

}

.about_container {
  margin-top: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.about-column {
  width: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_img_box {
  width: 660px;
  height: 590px;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.5s ease;
}


.about_img_box .about_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}



.about_img_box:hover .about_img {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.about_img_second,
.about_img_third {
  height: 430px;
  width: 660px;
}


@media screen and (max-width: 768px) {
  .about_title {
    line-height: 125%;
    font-size: 60px;
  }

  .about_container {
    margin-top: 41px;
    width: 100%;
    display: block;
  }

  .about_img_box:hover .about_img {
    transform: none;
    transition: none;
  }

  .about_img_box .about_img {
    transform: none;
    transition: none;
    /* transform: scale(1.06); */
  }

  .about_img_box {
    width: 688px;
    margin-bottom: 39px;
  }

  .about_img_second,
  .about_img_third {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .about_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }

  .about_container {
    margin-top: 42px;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .about_img_box {
    width: 100%;
    margin-bottom: 0;
  }


}


/* Mobile App  section //////////////// */

.mobile_app {
  display: flex;
  margin-top: 40px;
}

.mobile_app_desc {
  height: 342px;
  width: 620px;
  padding-top: 204px;
  margin-right: 110px;
}

.mobile_app_title {
  color: #403f3d;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.mobile_app_sub {
  color: #403f3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 40px 0;
}

.mobile_app_button_container {
  display: flex;
}

.download_btn {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: rgba(225, 212, 201, 0.8);
  color: #403f3d;
  padding: 11px 20px;
  border-radius: 100px;
  border: 1px solid #665f55;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download_btn:hover {
  background-color: #665F55;
  color: #E1D4C9;

}

.download_btn:hover .download_btn_icon {
  filter: invert(92%) sepia(14%) saturate(210%) hue-rotate(343deg) brightness(92%) contrast(92%);
}

.download_btn_icon {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  transition: filter 0.3s ease;
  fill: none;
}

.download_btn_desc {
  display: flex;
  flex-direction: column;
  /* color: #403f3d; */
}

.app_desc {
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
}


.app_title {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding-top: 2px;
}

.mobile_app_img {
  padding-top: 60px;
}

.download_btn:hover .download_btn_icon,
.download_btn:hover .app_desc,
.download_btn:hover .app_title {
  color: #E1D4C9;
}

@media screen and (max-width: 768px) {
  .mobile_app {
    display: block;
    margin-top: 58px;
  }

  .mobile_app_desc {
    height: 342px;
    width: 674px;
    padding-top: 5px;
    margin-right: 110px;
  }

  .download_btn:hover {
    background-color: #e1d4c9;
    color: #403f3d;
    /* filter: none;
    transition: none; */
  }

  .download_btn:hover .download_btn_icon {
    color: #403f3d;
    filter: none;
    transition: none;
  }

  .download_btn:hover .download_btn_icon,
  .download_btn:hover .app_desc,
  .download_btn:hover .app_title {
    color: #403f3d;
  }

  .mobile_app_img {
    padding-top: 104px;
    padding-left: 29px;
  }
}

@media screen and (max-width: 380px) {
  .mobile_app_desc {
    margin-top: 96px;
    width: 100%;
  }

  .mobile_app_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }

  .mobile_app_button_container {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  .mobile_app_img img {
    width: 100%;

  }

  .mobile_app_img {
    padding-top: 82px;
    padding-left: 0;
  }
}

/*Footer section ////////////// */
.footer {
  display: flex;
  margin-top: 94px;
  margin-bottom: 40px;
  background-color: #665f55;
  border-radius: 40px;
  max-width: 1360px;
  padding: 100px;
}

.footer_left,
.footer_right {
  max-width: 530px;
  margin-right: 100px;
}

.footer_title {
  color: #e1d4c9;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}

.social_icons {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
}

.social_icon_item {
  cursor: pointer;
  margin-right: 12px;
  display: flex;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.footer_connect_us {
  color: #e1d4c9;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  padding-top: 32px;
}

.contact_info {
  margin-top: 38px;
}

.contact_item a {
  text-decoration: none;
  color: #e1d4c9;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.contact_item img {
  padding-right: 8px;
}

.contact_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #e1d4c9;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}


.social_icon_item:hover {
  color: #e1d4c9;
}



.social_icon_item:hover {
  background-color: #B0907A;
}

.social_icon_item:hover a img {
  filter: grayscale(0%);
}

.contact_item a {
  text-decoration: none;
  color: #e1d4c9;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  position: relative;

}


.contact_item a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #e1d4c9;
  ;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.contact_item a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    display: block;
    padding: 100px 0 84px 60px;
  }

  .social_icon_item:hover {
    background-color: #665f55;
  }

  .footer_connect_us {
    padding-top: 102px;
  }

  .contact_item a:hover::after {
    width: 0%;
  }

}


@media screen and (max-width: 380px) {

  .footer {
    padding-top: 62px;
    padding-left: 16px;
    padding-bottom: 45px;
  }

  .footer_title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* padding-top: 10px; */
  }

  .footer_left,
  .footer_right {
    width: 100%;
    /* max-width: 530px; */
    /* margin-right: 100px; */
  }

  .footer_connect_us {
    padding-top: 39px;
  }
}