/* General styles  /////////////////////////////////*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #403f3d;
  background: #e1d4c9;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Header section  ///////////////////////// */
.header {
  margin-top: 20px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo_img {
  width: 100px;
  height: 60px;
}

.header_list {
  display: flex;
  margin-left: 40px;
}

.header_list_item {
  padding-bottom: 5px;
  padding-right: 41px;
}

.header_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}

.header_menu {
  margin-bottom: 4px;
}

.header_menu_title {
  padding-right: 4px;
}

.header_menu:hover::after,
.header_list_item:hover::after {
  width: 100%;
  background-color: #403f3d;
  transition: width 0.5s linear;
  opacity: 1;
}

.header_menu::after,
.header_list_item::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgba(64, 63, 61, 0);
  margin: auto;
  display: block;
  transition: width 0.5s, background-color 0.5s, opacity 0.5s;
}

.header_link.active {
  border-bottom: 3px solid;
  background-color: rgba(64, 63, 61, 0);
  margin-top: 3px;

}

.header_menu.active::after,
.header_list_item.active::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgba(64, 63, 61, 0);
  margin: auto;
  display: block;
  transition: none;
}

.header_menu.active:hover::after,
.header_list_item.active:hover::after {
  width: 0;
  background-color: rgba(64, 63, 61, 0);
  opacity: 0;
}

.header_menu:hover::after,
.header_list_item:hover::after {
  width: 100%;
  background-color: #403f3d;
  transition: width 0.5s linear, background-color 0.5s, opacity 0.5s;
  opacity: 1;
}


/* Introduction section  ///////////////////// ///////  */
.intro {
  border-radius: 41px;
  background: url(../img/intro-bg.jpg);
  background-size: 100% auto;
  background-position: 1px -30px;
  background-repeat: no-repeat;
  padding: 100px;
  margin-top: 15px;
  overflow: hidden;
}

.intro_title {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;
  max-width: 530px;
}

.italic_text_accent {
  color: #b0907a;
  font-style: italic;
}

.intro_subtitle {
  color: #e1d4c9;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 540px;
  padding-top: 41px;
}

.intro_menu_btn {
  border-radius: 100px;
  border: none;
  background: #e1d4c9;
  max-width: 201px;
  padding: 21px 78px;
  cursor: pointer;
  margin-top: 38px;
}

.header_link_for_btn_menu {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.button-content {
  display: flex;
  align-items: center;
}

.enjoy_menu_btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #403f3d;
  margin-right: 10px;
  transition: transform 0.3s;
}

.enjoy_menu_img_container {
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.header_menu_imgs {
  width: 22px;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s, filter 0.5s;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.intro_menu_btn {
  border-radius: 100px;
  border: none;
  background: #e1d4c9;
  max-width: 201px;
  padding: 21px 78px;
  cursor: pointer;
  margin-top: 38px;
  position: relative;
}

.intro_menu_btn:hover .enjoy_menu_btn {
  transform: translateX(-10px);
}

.intro_menu_btn:hover .enjoy_menu_img_container {
  opacity: 1;
}

.intro_menu_btn:hover .header_menu_imgs {
  opacity: 1;
  filter: brightness(0.5);
}


/* Favorite Coffee section ////////////////////////// */

.favorite_coffee {
  margin-top: 100px;
}

.favorite_coffee_title {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.favorite_coffee_slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
  margin: 0 auto;
}

.favorite_coffee_slid_description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.coffee_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.coffee_description {
  max-width: 480px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
  text-align: center;
}

.coffee_prise {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  margin-bottom: 38px;
}

.slider-bars {
  display: flex;
  justify-content: center;
  padding-top: 3px;
  padding-left: 5px;
}

.bar {
  width: 40px;
  height: 4px;
  margin-right: 12px;
  background-color: #c1b6ad;
  border-radius: 100px;
}

.active-bar {
  background-color: #665f55;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid #665f55;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.left {
  left: 5px;
}

.right {
  right: 3px;
}

.right:hover {
  background-color: #665f55;
}

.left:hover {
  background-color: #665f55;
}

.left:hover img,
.right:hover img {
  filter: invert(92%) sepia(14%) saturate(210%) hue-rotate(343deg) brightness(92%) contrast(92%);
}


/* About section /////////////////////////////////// */

.about {
  margin-top: 98px;
}

.about_title {
  font-size: 61px;
  font-weight: 500;
  line-height: 125%;
}

.about_container {
  margin-top: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.about-column {
  width: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_img_box {
  width: 99%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.5s ease;
}


.about_img_box .about_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}



.about_img_box:hover .about_img {
  transform: scale(1);
  /* transition: transform 0.5s ease; */
}

.about_img_second,
.about_img_third {
  height: 430px;
  width: 100%;
}


/* Mobile App  section //////////////// */

.mobile_app {
  display: flex;
  margin-top: 41px;
}

.mobile_app_desc {
  height: 342px;
  width: 620px;
  padding-top: 204px;
  margin-right: 110px;
}

.mobile_app_title {
  color: #403f3d;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.mobile_app_sub {
  color: #403f3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 40px 0;
}

.mobile_app_button_container {
  display: flex;
}

.download_btn {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: rgba(225, 212, 201, 0.8);
  color: #403f3d;
  padding: 11px 20px;
  border-radius: 100px;
  border: 1px solid #665f55;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download_btn:hover {
  background-color: #665F55;
  color: #E1D4C9;

}

.download_btn:hover .download_btn_icon {
  filter: invert(92%) sepia(14%) saturate(210%) hue-rotate(343deg) brightness(92%) contrast(92%);
}

.download_btn_icon {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  transition: filter 0.3s ease;
  fill: none;
}

.download_btn_desc {
  display: flex;
  flex-direction: column;
  /* color: #403f3d; */
}

.app_desc {
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
}


.app_title {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding-top: 2px;
}

.mobile_app_img {
  padding-top: 60px;
}

.download_btn:hover .download_btn_icon,
.download_btn:hover .app_desc,
.download_btn:hover .app_title {
  color: #E1D4C9;
}

/*Footer section ////////////// */
.footer {
  display: flex;
  margin-top: 93px;
  margin-bottom: 40px;
  background-color: #665f55;
  border-radius: 40px;
  width: 1360px;
  padding: 100px;
}

.footer_left,
.footer_right {
  max-width: 530px;
  margin-right: 100px;
}

.footer_title {
  color: #e1d4c9;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}

.social_icons {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
  cursor: pointer;
}

.social_icon_item {
  margin-right: 12px;
  display: flex;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.footer_connect_us {
  color: #e1d4c9;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  padding-top: 32px;
}

.contact_info {
  margin-top: 38px;
}

.contact_item a {
  text-decoration: none;
  color: #e1d4c9;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.contact_item img {
  padding-right: 8px;
}

.contact_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #e1d4c9;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}


.social_icon_item:hover {
  color: #e1d4c9;
}



.social_icon_item:hover {
  background-color: #B0907A;
}

.social_icon_item:hover a img {
  filter: grayscale(0%);
}

.contact_item a {
  text-decoration: none;
  color: #e1d4c9;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  position: relative;

}


.contact_item a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #e1d4c9;
  ;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.contact_item a:hover::after {
  width: 100%;
}